# Django
DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=

# MySQL Database
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Email (Gmail)
EMAIL_HOST_USER=your_gmail@gmail.com
EMAIL_HOST_PASSWORD=your_gmail_app_password

# Blockchain
CONTRACT_ADDRESS=your_contract_address
ADMIN_PRIVATE_KEY=your_wallet_private_key
SEPOLIA_RPC_URL=your_sepolia_url

# IPFS / Pinata
PINATA_API_KEY=your_pinata_api_key
PINATA_SECRET_KEY=your_pinata_secret_key

# Frontend
FRONTEND_URL=frontend_url_here
